In [22]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [23]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,IN,2020-01-06 07:06:29,15.34,74.49,75.20,69,75,11.41
1,1,Port Blair,IN,2020-01-06 07:01:45,11.67,92.75,81.72,76,0,15.21
2,2,Bonnyville,CA,2020-01-06 07:06:29,54.27,-110.74,14.00,78,75,3.36
3,3,Elk Plain,US,2020-01-06 07:06:30,47.04,-122.37,44.01,93,90,10.29
4,4,Busselton,AU,2020-01-06 07:02:05,-33.64,115.35,93.00,7,32,11.65

In [24]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [25]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [26]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [28]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [33]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,IN,2020-01-06 07:06:29,15.34,74.49,75.20,69,75,11.41
1,1,Port Blair,IN,2020-01-06 07:01:45,11.67,92.75,81.72,76,0,15.21
16,16,Loandjili,CG,2020-01-06 07:06:34,-4.77,11.87,78.80,94,40,1.12
23,23,Kununurra,AU,2020-01-06 07:01:52,-15.77,128.74,78.80,88,75,17.22
29,29,Praya,ID,2020-01-06 07:06:40,-8.71,116.27,87.80,70,75,12.75
33,33,Kapaa,US,2020-01-06 07:03:30,22.08,-159.32,75.20,69,90,9.86
37,37,Rikitea,PF,2020-01-06 07:06:42,-23.12,-134.97,76.26,75,32,15.14
40,40,Jamestown,AU,2020-01-06 07:06:44,-33.21,138.60,75.81,49,84,6.93
41,41,Contamana,PE,2020-01-06 07:06:45,-7.35,-75.01,75.56,74,8,1.81
44,44,Kieta,PG,2020-01-06 07:06:46,-6.22,155.63,86.22,66,23,3.29

In [34]:
# Determine if there are any null values
preferred_cities_df.count()

City_ID       128
City          128
Country       128
Date          128
Lat           128
Lng           128
Max Temp      128
Humidity      128
Cloudiness    128
Wind Speed    128
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
0        Vaini      IN     75.20  15.34   74.49
1   Port Blair      IN     81.72  11.67   92.75
16   Loandjili      CG     78.80  -4.77   11.87
23   Kununurra      AU     78.80 -15.77  128.74
29       Praya      ID     87.80  -8.71  116.27
33       Kapaa      US     75.20  22.08 -159.32
37     Rikitea      PF     76.26 -23.12 -134.97
40   Jamestown      AU     75.81 -33.21  138.60
41   Contamana      PE     75.56  -7.35  -75.01
44       Kieta      PG     86.22  -6.22  155.63

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [52]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [53]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaini,IN,75.20,15.34,74.49,Dandeli Lake County
1,Port Blair,IN,81.72,11.67,92.75,Fortune Resort Bay Island
16,Loandjili,CG,78.80,-4.77,11.87,Résidence ARCHANGE
23,Kununurra,AU,78.80,-15.77,128.74,Hotel Kununurra
29,Praya,ID,87.80,-8.71,116.27,Grand Royal B.I.L Lombok
33,Kapaa,US,75.20,22.08,-159.32,Sheraton Kauai Coconut Beach Resort
37,Rikitea,PF,76.26,-23.12,-134.97,Pension Maro'i
40,Jamestown,AU,75.81,-33.21,138.60,Jamestown Motel Terraces
41,Contamana,PE,75.56,-7.35,-75.01,Hotel Isabel
44,Kieta,PG,86.22,-6.22,155.63,

In [56]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [58]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))