In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (current 3 hours),Snow Inches (current 3 hours)
0,0,Viedma,AR,2020-01-13 03:37:45,-40.81,-63.00,67.78,49,32,17.76,scattered clouds,0.0,0.0
1,1,Malm,NO,2020-01-13 03:41:27,64.07,11.22,37.99,69,90,6.93,overcast clouds,0.0,0.0
2,2,Creel,MX,2020-01-13 03:49:17,27.75,-107.63,37.99,47,100,1.43,overcast clouds,0.0,0.0
3,3,Georgetown,MY,2020-01-13 03:49:18,5.41,100.34,86.00,70,20,4.70,few clouds,0.0,0.0
4,4,Jamestown,US,2020-01-13 03:46:31,42.10,-79.24,30.99,80,90,3.36,overcast clouds,0.0,0.0

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID                            int64
City                              object
Country                           object
Date                              object
Lat                              float64
Lng                              float64
Max Temp                         float64
Humidity                           int64
Cloudiness                         int64
Wind Speed                       float64
Current Description               object
Rain Inches (current 3 hours)    float64
Snow Inches (current 3 hours)    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (current 3 hours),Snow Inches (current 3 hours)
3,3,Georgetown,MY,2020-01-13 03:49:18,5.41,100.34,86.00,70,20,4.70,few clouds,0.00,0.0
6,6,Yeppoon,AU,2020-01-13 03:49:19,-23.13,150.73,89.60,46,40,12.75,scattered clouds,0.00,0.0
7,7,Kahului,US,2020-01-13 03:49:20,20.89,-156.47,75.20,94,40,16.11,light rain,0.00,0.0
10,10,Hilo,US,2020-01-13 03:48:14,19.73,-155.09,77.00,78,90,4.70,light rain,0.00,0.0
11,11,Navrongo,GH,2020-01-13 03:49:21,10.90,-1.09,76.80,18,2,13.78,clear sky,0.00,0.0
12,12,Bitung,ID,2020-01-13 03:46:31,1.45,125.18,86.00,74,40,6.93,scattered clouds,0.00,0.0
16,16,Butaritari,KI,2020-01-13 03:49:23,3.07,172.79,84.47,73,100,12.48,moderate rain,4.75,0.0
17,17,Mattru,SL,2020-01-13 03:49:23,7.62,-11.83,72.81,95,5,2.21,clear sky,0.00,0.0
19,19,Avarua,CK,2020-01-13 03:49:24,-21.21,-159.78,80.60,83,56,17.22,moderate rain,4.44,0.0
22,22,Busselton,AU,2020-01-13 03:49:25,-33.65,115.33,84.99,20,0,7.52,clear sky,0.00,0.0

In [12]:
# Determine if there are any null values
preferred_cities_df.count()

City_ID                          199
City                             199
Country                          197
Date                             199
Lat                              199
Lng                              199
Max Temp                         199
Humidity                         199
Cloudiness                       199
Wind Speed                       199
Current Description              199
Rain Inches (current 3 hours)    199
Snow Inches (current 3 hours)    199
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
3   Georgetown      MY     86.00   5.41  100.34
6      Yeppoon      AU     89.60 -23.13  150.73
7      Kahului      US     75.20  20.89 -156.47
10        Hilo      US     77.00  19.73 -155.09
11    Navrongo      GH     76.80  10.90   -1.09
12      Bitung      ID     86.00   1.45  125.18
16  Butaritari      KI     84.47   3.07  172.79
17      Mattru      SL     72.81   7.62  -11.83
19      Avarua      CK     80.60 -21.21 -159.78
22   Busselton      AU     84.99 -33.65  115.33

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng                  Hotel Name
3   Georgetown      MY     86.00   5.41  100.34              Cititel Penang
6      Yeppoon      AU     89.60 -23.13  150.73            Villa Mar Colina
7      Kahului      US     75.20  20.89 -156.47          Maui Seaside Hotel
10        Hilo      US     77.00  19.73 -155.09         Hilo Hawaiian Hotel
11    Navrongo      GH     76.80  10.90   -1.09                Azakka Hotel
12      Bitung      ID     86.00   1.45  125.18  Eco Divers Lembeh Cottages
16  Butaritari      KI     84.47   3.07  172.79          Isles Sunset Lodge
17      Mattru      SL     72.81   7.62  -11.83     Boima Gbondo's Compound
19      Avarua      CK     80.60 -21.21 -159.78                Paradise Inn
22   Busselton      AU     84.99 -33.65  115.33     Observatory Guest House

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))